* linguist-detectable=true
*.c linguist-detectable=true
*.php linguist-detectable=true
*.h linguist-detectable=true
*.sh linguist-detectable=true
*.js linguist-detectable=true

*.c linguist-language=c
*.h linguist-language=c
*.php linguist-language=php